<div>
  <% if @searchartists.present? %>
    <% @searchartists.each do |searchartist| %>
      <h3><%= searchartist.name %></h3>
      <% if searchartist.images.any?%>
        <%image = searchartist.images[1]%>
        <%= image_tag(image["url"])%>
      <%else%>
        <h1>画像が存在しません</h1>
      <%end%>
    <%end%>
  <%end%>
</div>